body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%); 
}

a {
    color: hsl(212, 21%, 14%);
}

a:hover {
    color: hsl(158, 36%, 37%);
}

a:active {
    color: hsl(158, 36%, 37%);
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 15px 60px 15px 60px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    display: inline-flex;
    align-items: center; 
}

button:hover {
    background-color: hsl(158, 36%, 15%);;
}

button:active {
    color: hsl(158, 36%, 37%);
}

.buttontext {
    margin-left: 10px;
}

/** text styles **/
.product-category {
    text-transform: uppercase;
    letter-spacing: .3em;
    padding-bottom: 15px;
}
.product-title {
    font-family: 'Fraunces', sans-serif;
    font-size: 34px;
    color: hsl(212, 21%, 14%);
    line-height: .95;
}

.product-description {
    line-height: 1.75;
    margin: 15px 0px 15px 0px;
}

.pricing {
    vertical-align: center;
    margin-bottom: 20px;
}

.sale-price {
    font-family: 'Fraunces', sans-serif;
    font-size: 34px;
    color: hsl(158, 36%, 37%);
}

.regular-price {
    text-decoration: line-through;
}

.attribution {
    text-align: center;
    color: hsl(212, 21%, 14%);
}

/* accessibility */
.screenreader-only {
    display: none;
}


/* media queries */
@media (max-width: 580px) {
    .grid-container {
        display: grid;
        grid-template-columns: 95%;
        place-content: center;
        justify-items: center;
        row-gap: 0px;
        column-gap: 0px;
        height: 100vh;
    }

    .img-container {
        margin: auto auto -3px auto;
    }

    .product-img {
        display: none;
        border-radius: 8px 8px 0px 0px;
    }

    .product-img-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
    }

    .product-container {
        margin: auto;
        background-color: hsl(0, 0%, 100%);;
        border-radius: 0px 0px 8px 8px;
    }

    .inner-product-container {
        padding: 20px;
    }

    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 581px) {
    .grid-container {
        display: grid;
        height: 100vh;
        grid-template-columns: 290px 290px;
        grid-template-rows: 435px;
        place-content: center;
        justify-items: center;
        row-gap: 0px;
        column-gap: 0px;
    }

    .product-img-mobile {
        display: none;
    }

    .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 0px 0px 8px;
    }

    .product-container {
        background-color: hsl(0, 0%, 100%);;
        border-radius: 0px 8px 8px 0px;
        padding: 30px;

    }
}


